In [1]:
import pandas as pd
from utils.categorical_encoders import CategoricalEncoders

import warnings
warnings.filterwarnings('ignore')

In [2]:
# 1. Leer el dataset
DATASET_PATH = 'data/dataset.csv'
dataset = pd.read_csv(DATASET_PATH, encoding='latin-1' ,sep=';')

# 2. Obtener las columnas binarias y categóricas
categorical = CategoricalEncoders(dataset=dataset)
binary_columns, categorical_columns = categorical.get_binary_categorical_columns()
binary_columns, categorical_columns

(['Tiene_TC', 'Tiene_Prestamo', 'Venta_Competencia'],
 ['Reclutamiento',
  'Ocupacion',
  'Jefe_Hogar',
  'Prioridad_Negocio_VD',
  'Porque_VD',
  'email',
  'telefono_fijo',
  'telefono_movil'])

In [3]:
# 3. Aplicar categorical encoders
methods = ['LabelEncoder', 'OneHotEncoder', 'OrdinalEncoder', 'FrequencyEncoder', 'BinaryEncoder', 'BackwardDifferenceEncoder']
df = categorical.provider(binary_columns, categorical_columns, method=methods[0])
df

,Reclutamiento,Ocupacion,Jefe_Hogar,Prioridad_Negocio_VD,Porque_VD,Tiene_TC,Tiene_Prestamo,Venta_Competencia,email,telefono_fijo,telefono_movil,Target
0,5,2,6,0,3,1,1,1,2,2,2,0
1,5,4,2,0,1,1,1,1,2,2,2,0
2,5,4,2,0,0,1,1,1,2,0,0,0
3,4,0,0,0,3,0,0,1,2,2,2,1
4,5,0,7,0,3,1,1,1,2,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8495,1,4,3,0,3,0,0,0,2,2,2,0
8496,5,2,0,0,3,0,0,0,2,2,2,0
8497,5,2,7,0,2,1,0,0,2,2,2,0
8498,5,5,6,0,1,0,0,0,2,2,2,0
8499,5,2,1,0,1,0,0,0,2,2,2,0